.about{
    padding:.5em;
    background-color:#ffff;
}
.about__header{
    margin-top:.75em;
    font-size:1.75rem;
    font-weight: 400;
}
.about__info{
    margin-bottom:.5em;
}
.aboutInfo__p{
    font-size: 1.15rem;
    text-indent: 25px;
    color: #5C5858;
    margin-bottom:1em;
}
.aboutInfo__img{
    width:80%;
    max-width: 350px;
    max-height: 350px;
    display:block;
    margin:1em auto;
    border-radius: 15px;
}
.aboutEx__header{
    display: flex;
    justify-content: space-around;
    margin-top:.5em;
}
.aboutEx__header p{
    padding:.25em .5em;
    cursor:pointer;
}
.aboutEx__header--active{
    background-color:#ea6028;
    font-weight: 500;
    color:white;
    border-radius: 15px;
    transition: all 1s;
}

.aboutEx__info{
    margin-top:1em;
    padding:.25em 1em;
}
.about__skill{
    background-color:#f2d261;
    text-align: center;
    margin-top:2em;
    padding:.5em 1em;
    border-radius: 10px;
}
.about__skill h2{
    color:#645825;
}
.about__skill p{
    font-weight: 600;
    color:#473c13;
}
@media only screen and (min-width:450px) {
    .aboutInfo__p{
        padding:1em;
        text-align: center;
    }
}
@media only screen and (min-width:768px) {
    .about{
        padding:1.5em;
    }
    .about__experience{
        width:80%;
        margin:auto;
    }
}
@media only screen and (min-width:1000px) {
    .about{padding-top: 3em;}
    .about h2{
        font-size:2.5rem;
    }
    .about__info{
        display: flex;
        flex-direction: row-reverse;
    }
    .aboutInfo__p{
        width:90%;
        text-align: left;
    }
    .about__experience{
        width:95%;
    }
    .aboutInfo__img{
        max-width: 500px;
        max-height: 500px;
    }
    .about__skill{
        width:65%;
        margin:3em auto 0;
    }

}